.status {
  display: grid;
  place-content: center;
  width: 80%;
  min-height: 100px;
  margin-inline: auto;
  padding: 10px;
  line-height: 1.3;
  font-weight: 500;
  color: var(--color-title);
  text-align: center;
  border-radius: 10px;
  opacity: 0;
  background-color: transparent;
  transition: 0.5s;

  &--win {
    opacity: 1;
    background: var(--gradient-status-win);
  }

  &--lose {
    opacity: 1;
    background: var(--gradient-status-lose);
  }

  &--wrong-guess {
    opacity: 1;
    background: var(--gradient-status-playing);
  }

  // &--default {
  //   background: var(--gradient-status-playing);
  //   animation: fade-out 0.5s;
  // }

  &-title {
    font-size: 1.75rem;
  }

  &-subtitle {
    font-size: 1.25rem;
  }
}

// @keyframes fade-out {
//   0% {
//     opacity: 1;
//   }

//   100% {
//     opacity: 0;
//   }
// }
